@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f7f2;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f8f7f2;
}
::-webkit-scrollbar-thumb {
  background: #0f172a33;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f172a66;
}
